@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Roboto:wght@300&family=Shadows+Into+Light&family=Space+Mono&display=swap');

body {
  font-family: 'Shadows Into Light', cursive;
  background-color: #232526;
}

.playArea {
  width: 585px;
  height: 440px;
  position: fixed;
  top: 43.6%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid #f4eed7;
  margin-top: 20px;
}

#fruit {
  display: none;
}

.gameOver {
  position: fixed;
  top: 43.2%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 35px;
}

.playButton {
  position: fixed;
  top: 87%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #05b60e;
  border: 2px solid white;
  border-radius: 8px;
  padding: 8px;
  padding-left: 12px;
  font-size: 1em;
  color: white;
  font-family: 'Shadows Into Light', cursive;
  font-weight: 800;
  letter-spacing: 8px;
  text-transform: uppercase;
  cursor: pointer;
}

.scoreBox {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

hr {
  margin: 20px;
  width: 340px;
  border-style: none;
}

h2 {
  font-size: 18px;
  padding: 10px;
}

.footer__text {
  position: fixed;
  bottom: 1px;
  right: 10px;
  font-size: 20px;
  color: white;
}